*{
    margin: 0;
    padding: 0;
}
body{
  background: url("istro.jpg"); 
   background-size:contain;
   background-position:top;
   background: cover; 
   background-repeat: no-repeat; 
   background-size: 100%;  
 } 
.container{
    /* background: linear-gradient(to right bottom, #e1b382, #c89666); */
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app-wrapper{
    /* background-color: #12343b; */
    min-width: 450px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 6px 40px #000;
    margin-bottom: 10px;
    /* margin-left: 30%; */
  }
  
  .header h1{
    /* color: #fff; */
    text-align: center;
    margin:30px 0 ;
  }
  
  .task-input{
    outline: none;
    width: 260px;
    padding: 15px;
    margin-right: 25px;
    font-size: 20px;
    color: #ccc;
    background-color: #000000;
    border:1px solid #c89666;
    border-radius: 10px;
  }
  .button-add{
    width: 70px;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 10px;
    border:0;
    /* background-color: #f1af71; */
    cursor: pointer;
  }
  
  .list-item{
    background:linear-gradient(
      90deg,rgba(93,12,255,1),rgba(155,0,250,1)
    );
    display: flex;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-height: 30px;
  }
  
  .button-complete,
  .button-delete,
  .button-edit{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    border-radius: 50%;
  }
  
  .button-complete{
    color: #ff6c6c;
    margin-right: 10px;
  }
  
  .button-edit{
    color: #e2d029;
    margin-right: 10px;
  }
  
  .button-delete{
    color: lightseagreen;
  }
  
  .complete{
    text-decoration-style: solid;
    text-decoration-line:line-through;
    text-decoration-color:#ff6c6c ;
    opacity: 0.6;
  }
  
  .list{
    /* width: 220px; */
    background:linear-gradient(
      90deg,rgba(93,12,255,1),rgba(155,0,250,1)
    );
    border:none;
    color: #ccc;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 15px;
  }
  
  input:focus,
  button:focus{
    outline: none;
  }

  
  .addBtn{
    width: 80px;
    margin-left: 20px;
  }
  element.style {
    pointer-events: all;
    width: 500%;
    height: 108%;
}
element.style {
  height: 100%;
  width: 173px;
  pointer-events: none;
  touch-action: none;
  position: relative;
}
/* .VictoryContainer{
height: 100%; 
width: 100%; 
pointer-events: none;
 touch-action: none; 
 position: relative;
 
} */
.chart:hover{
  transition: 0.5s;
  background-color: #e2d029;
}



  
  
  
  
  
  /* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url("./background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Raleway", sans-serif;
  }
  
  
   */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  